.update {
  color: green;
  background: lightgrey;
  font-size: 15px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 15px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.blog {
    border-width: 1px;
    border-color: black;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    border-style: solid;
    border-radius: 2px;
    margin-bottom: 5px;
}

.blog button {
  display: solid;
  margin: 2px 4px;
  font-size: 0.8em;
}

.blog p {
  margin: 2.5px;
}